@{
    ViewData["Title"] = "Giriş Yap";
}

<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #e0fbff;">
    <h2 class="mr-3">Müşteri&Bilet Yönetim Sistemi</h2>
    <div class="card" style="width: 400px; padding: 30px; border-radius:5px">
        <form method="post">
            <div class="form-group">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Kullanıcı Adınızı Giriniz">
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Şifrenizi Giriniz">
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Giriş Yap</button>
        </form>
        <div class="text-center mt-3">
            <form method="post" action="/Login/GuestLogin">

                <button type="submit" class="btn btn-secondary">Misafir Olarak Giriş Yap</button>
            </form>
        </div>
        @if (ViewBag.Error != null)
        {
            <p style="color:red; text-align: center;">@ViewBag.Error</p>
        }
    </div>
</body>
